*{
    padding: 0;
    margin: 0;
}
.card2_card{
    /* background-color: aqua; */
    width: 18.5%;
    height: 100%;
}
.card2_card > a{
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.car2_card_{
    /* background-color: #000; */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 75% 25%;
}
.card2_image{
    /* background-color: orange; */
    width: 100%;
    height: 100%;
    position: relative;
}
.hidden_container2{
    background-color: rgba(187, 187, 187, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    cursor: pointer;
}
.bookmark_hidden2{
    background-color: #000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    right: 6%;
    top: 5%;
    border: 1px solid #646464;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.bookmark_hidden2 > p{
    color: #c0c0c0;
    font-family: Inter;
    font-size: 0px;
    font-weight: 700;
    transition: all 0.7s;
}
.fa-cart-arrow-down{
    color: #c0c0c0;
}
.card2_image > img{
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.car2_details{
    /* background-color: purple; */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 30% 45% 25%;
}
.car2_details > .genre{
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.car2_details > .genre > h4{
    color: grey;
    font-family: Inter;
    font-size: 9px;
}
.car2_details > .game_name{
    /* background-color: purple; */
    width: 100%;
    height: 100%;
}
.car2_details > .game_name > p{
    color: #fff;
    font-size: 11.5px;
    font-family: Inter;
    font-weight: 500;
}
.car2_details > .game_price{
    /* background-color: indigo; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.car2_details > .game_price > .game_price_1{
    /* background-color: red; */
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.car2_details > .game_price > .game_price_1 > button{
    background-color: aqua;
    width: 30%;
    height: 70%;
    border: none;
    border-radius: 10px;
}
.car2_details > .game_price > .game_price_1 > p.stroke{
    color: grey;
    text-decoration: line-through;
}
.car2_details > .game_price > .game_price_1 > p{
    color: #fff;
    font-family: Inter;
    font-size: 10px;
    font-weight: 500;
}
