*{
    padding: 0;
    margin: 0;
}
.first_slider{
    background-color: rgb(16, 16, 20);
    width: 100%;
    height: 80vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.first_slider_1{
    /* background-color: yellow; */
    width: 75%;
    height: 90%;
    margin-top: .6%;
}