*{
    padding: 0;
    margin: 0;
}
.freeGameCard{
    /* background-color: gold; */
    width: 49%;
    height: 100%;
}
.freeGameCard > a{
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.freeGameCard_1{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 80% 20%;
}
.free_game_image{
    /* background-color: pink; */
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
}
.freeGame_hover{
    background-color: rgba(187, 187, 187, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
}
.free_game_dot{
    background-color: #000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: 5%;
    right: 4%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.free_game_dot > p{
    color: #c0c0c0;
    font-family: Inter;
    font-size: 0px;
    font-weight: 700;
    transition: all 0.7s;
}
.fa-cart-arrow-down{
    color: #c0c0c0;
}
.free_now{
    /* background-color: aqua; */
    width: 100%;
    height: 8%;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.free_now > h3{
    color: #fff;
    font-size: 11px;
    font-family: Inter;
    font-weight: 700;
    text-transform: uppercase;
}
.free_game_image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.free_game_content{
    /* background-color: blueviolet; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.free_game_content_1{
    /* background-color: red; */
    width: 100%;
    height: 52%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
}
.free_game_content_1 > h3{
    color: #fff;
    font-size: 13px;
    font-family: Inter;
    font-weight: 600;
}
.free_game_content_1 > p{
    color: grey;
    font-size: 11px;
    font-family: Inter;
    font-weight: 600;
}