*{
    padding: 0;
    margin: 0;
}
.freegame{
    background-color: rgb(16, 16, 20);
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.freegame_1{
    background-color: rgb(32, 32, 36);
    width: 75%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.free_game{
    /* background-color: yellow; */
    width: 92%;
    height: 90%;
    display: grid;
    grid-template-rows: 15% 85% ;
}
.freegame_icon{
    /* background-color: orange; */
    width: 100%;
    height: 100%;
    display: flex;
}
.gift_icon{
    /* background-color: green; */
    width: 100%;
    height: 100%;
}
.gift_icon_1{
    /* background-color: yellow; */
    width: 40%;
    height: 100%;
    display: grid;
    grid-template-columns: 35% 65%;
}
.icon_gift{
    /* background-color: purple; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon_gift > .fa-gift{
    color: #fff;
    font-size: 30px;
}
.icon_text{
    /* background-color: aqua; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.icon_text > h3{
    color: #fff;
    font-size: 15px;
    font-family: Inter;
}
.free_button{
    /* background-color: red; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.free_button > button{
    background-color: transparent;
    width: 18%;
    height: 50%;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    transition: all 0.6s;
    cursor: pointer;
}
.free_button > button:hover{
    background-color: grey;
}
.free_button > button > a{
    color: #fff;
    text-decoration: none;
    font-family: Inter;
    font-weight: 500;
    font-size: 11px;
}
.free_game_card_{
    /* background-color: purple; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}