*{
    padding: 0;
    margin: 0;
}
.welcome_image_slider{
    /* background-color: purple; */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
}
.swiper_game_slide{
    /* background-color: blue; */
    width: 100%;
    height: 100%;
}
.swiper_welcome_slide{
    background-color: orange;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.swiper_pagination_display{
    /* background-color: green; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.vertical-pagination{
    /* background-color: purple; */
    width: 87%;
    height: 95%;
}
.vertical_pagination{
    /* background-color: red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.vertical_pagination .custom-bullet{
    background-color: transparent;
    width: 100%;
    height: 15%;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    opacity: 1;
}
.vertical_pagination .custom-bullet > img{
    /* background-color: yellow; */
    width: 40px;
    height: 50px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 2px;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: 2;
}
.vertical_pagination .custom-bullet > a{
    color: #fff;
    font-family: Inter;
    font-weight: 300;
    font-size: 11px;
    position: absolute;
    z-index: 2;
    text-decoration: none;
    left: 35%;
}
.vertical_pagination .swiper-pagination-bullet-active {
    background-color: rgb(80, 80, 80) !important;
    position: relative;
    width: 100%;
    height: 15%;
}
.vertical_pagination .swiper-pagination-bullet-active::after{
    content: '';
    background-color: gray;
    width: 0%;
    height: 100%;
    position: absolute;
    animation-name: swiperDelay;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; /* Add this - makes it smooth without easing */
    animation-fill-mode: forwards; 
}
@keyframes swiperDelay {
    0%{
        width: 0%;
    }
    10%{
        width: 10%;
    }
    20%{
        width: 20%;
    }
    30%{
        width: 30%;
    }
    40%{
        width: 40%;
    }
    50%{
        width: 50%;
    }
    60%{
        width: 60%;
    }
    70%{
        width: 70%;
    }
    80%{
        width: 80%;
    }
    90%{
        width: 90%;
    }
    100%{
        width: 100%;
    }
}
