*{
    padding: 0;
    margin: 0;
}
.lowest{
    background-color: rgb(16, 16, 20);
    /* background-color: yellow; */
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lowest_1{
    /* background-color: blue; */
    width: 75%;
    height: 50%;
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(51, 51, 51);
}
.lowest_1 > p{
    color: #fff;
    font-family: Inter;
    font-size: 9px;
    font-weight: 300;
}