*{
    padding: 0;
    margin: 0;
}
.navigation_bar_2{
    background-color: rgb(16, 16, 20);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 10;
}
.navigation_bar_2_1{
    /* background-color: yellow; */
    width: 73.5%;
    height: 100%;
}
.searchbar_1{
    /* background-color: green; */
    width: 50%;
    height: 100%;
}
.searcbar_1_1{
    /* background-color: purple; */
    width: 100%;
    height: 100%;
    display: flex;
}
.search_bar{
    /* background-color: orange; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search_bar > form{
    /* background-color: purple; */
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    position: relative;
}
.search_bar > form > input{
    background-color: rgb(38, 38, 39);
    width: 85%;
    height: 100%;
    border-radius: 30px;
    border: none;
    padding-left: 20%;
    transition: all 0.6s;
}
.search_bar > form > input:hover{
    background-color: rgb(94, 94, 94)
}
.search_bar > form > input::placeholder{
    font-family: Inter;
    color: #fff;
    font-size: 9px;
}
.search_button{
    /* background-color: blue; */
    width: 20px;
    height: 20px;
    position: absolute;
    left: 5%;
}
.search_button > button{
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}
.search_button > button > .fa-magnifying-glass{
    color: #fff;
}
.discover{
    /* background-color: goldenrod; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.discover > ul{
    /* background-color: green; */
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
.discover > ul > li > a{
    text-decoration: none;
    font-family: Inter;
    font-size: 11.5px;
    font-weight: 400;
    transition: all 0.6s;
}
