*{
    padding: 0;
    margin: 0;
}
.sevenKnight{
    background-color: rgb(16, 16, 20);
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sevenKnight_1{
    /* background-color: blue; */
    width: 75%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}