*{
    padding: 0;
    margin: 0;
}
.topCont3{
    /* background-color: red; */
    width: 95%;
    height: 19%;
    border-radius: 5px;
    transition: all 0.6s;
    cursor: pointer;
}
.topCont3:hover{
    background-color: rgb(46, 46, 46);
}
.topCont3 > a{
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.top_cont3{
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 21% 79%;
}
.topContImage3{
    /* background-color: yellow; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topCont_image3{
    /* background-color: red; */
    width: 75%;
    height: 75%;
    border-radius: 5px;
    position: relative;
}
.topHidden3{
    /* background-color: aqua; */
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    border-radius: 5px;
}
.topHidden_3{
    background-color: #000;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 5%;
    right: 5%;
    border-radius: 50%;
}
.topCont_image3 > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}
.topContContent3{
    /* background-color: green; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topContent_33{
    /* background-color: blue; */
    width: 95%;
    height: 65%;
    display: flex;
    flex-direction: column;
}
.topContDetails3{
    /* background-color: red; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.topContDetails3 > h2{
    color: #fff;
    font-family: Inter;
    font-weight: 600;
    text-decoration: none;
    font-size: 11px;
}
.topContPrice3{
    /* background-color: greenyellow; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.topContPrice_3{
    /* background-color: purple; */
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topContPrice_3 > p{
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    font-family: Inter;
}