*{
    padding: 0;
    margin: 0;
}
.topCont4{
    /* background-color: red; */
    width: 95%;
    height: 19%;
    border-radius: 5px;
    transition: all 0.6s;
    cursor: pointer;
}
.topCont4:hover{
    background-color: rgb(46, 46, 46);
}
.topCont4 > a{
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.top_cont4{
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 21% 79%;
}
.topContImage4{
    /* background-color: yellow; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topCont_image4{
    /* background-color: red; */
    width: 75%;
    height: 75%;
    border-radius: 5px;
    position: relative;
}
.topHidden4{
    /* background-color: aqua; */
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    border-radius: 5px;
}
.topHidden_4{
    background-color: #000;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 5%;
    right: 5%;
    border-radius: 50%;
}
.topCont_image4 > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}
.topContContent4{
    /* background-color: green; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topContent_44{
    /* background-color: blue; */
    width: 95%;
    height: 70%;
    display: flex;
    flex-direction: column;
}
.topContDetails4{
    /* background-color: red; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.topContDetails4 > h2{
    color: #fff;
    font-family: Inter;
    font-weight: 600;
    text-decoration: none;
    font-size: 11px;
}
.topContButton4{
    /* background-color: aqua; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.topContButton4_4{
    /* background-color: indigo; */
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topContButton4_4 > button{
    background-color: rgb(83, 83, 83);
    width: 53%;
    height: 75%;
    border: none;
    border-radius: 2px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.topContButton4_4 > button > .fa-crown{
    color: gold;
}
.topContButton4_4 > p{
    color: grey;
    font-size: 10px;
    font-family: Inter;
    font-weight: 500;
}
