*{
    padding: 0;
    margin: 0;
}
.topCont2{
    /* background-color: red; */
    width: 95%;
    height: 19%;
    border-radius: 5px;
    transition: all 0.6s;
    cursor: pointer;
}
.topCont2:hover{
    background-color: rgb(46, 46, 46);
}
.topCont2 > a{
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.top_cont2{
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 21% 79%;
}
.topContImage2{
    /* background-color: yellow; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topCont_image2{
    /* background-color: red; */
    width: 75%;
    height: 75%;
    border-radius: 5px;
    position: relative;
}
.topHidden2{
    background-color: rgba(187, 187, 187, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    border-radius: 5px;
}
.topHidden_2{
    background-color: #000;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 5%;
    right: 5%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topHidden_2 > .fa-plus{
    color: #fff;
    font-size: 2px;
}
.topCont_image2 > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}
.topContContent2{
    /* background-color: green; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topContent_22{
    /* background-color: blue; */
    width: 95%;
    height: 70%;
    display: flex;
    flex-direction: column;
}
.topContDetails2{
    /* background-color: red; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.topContDetails2 > h2{
    color: #fff;
    font-family: Inter;
    font-weight: 600;
    text-decoration: none;
    font-size: 11px;
}
.topContPrice2{
    /* background-color: greenyellow; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.topContPrice_2{
    /* background-color: purple; */
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topContPrice_2 > button{
    background-color: aqua;
    width: 27%;
    height: 50%;
    border: none;
    border-radius: 10px;
    color: #000;
    font-weight: 100;
}
.topContPrice_2 > p{
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    font-family: Inter;
}
.topContPrice_2 > p.stroke{
    color: grey;
    text-decoration: line-through;
}