*{
    padding: 0;
    margin: 0;
}
.trending{
    background-color: rgb(16, 16, 20);
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.trending_1{
    /* background-color: yellow; */
    width: 75%;
    height: 90%;
}
.trending_11{
    /* background-color: purple; */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 90%;
}
.trending_details{
    /* background-color: red; */
    width: 100%;
    height: 100%;
    display: flex;
}
.trending_header{
    /* background-color: indigo; */
    width: 100%;
    height: 100%;
}
.trending_header > h2{
    color: #fff;
    font-family: Inter;
    font-size: 14.5px;
    font-weight: 500;
    text-decoration: none;
}
.trending_button{
    /* background-color: green; */
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: flex-end;   
}
.trending_button > button{
    background-color: transparent;
    width: 17%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid grey;
    transition: all 0.6s;
}
.trending_button > button:hover{
    background-color: grey;
}
.trending_button > button > a{
    color: #fff;
    text-decoration: none;
    font-family: Inter;
    font-weight: 500;
}
.trending_products{
    /* background-color: rgb(9, 255, 0); */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}