*{
    padding: 0;
    margin: 0;
}
.weekly_card{
    background-color: rgb(16, 16, 20);
    width: 100%;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.weekly_card_{
    /* background-color: green; */
    width: 75%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
