.weekly_card_1{
    /* background-color: blue; */
    width: 32%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.weekly_card_image{
    /* background-color: red; */
    width: 100%;
    height: 100%;
    position: relative;
}
.dotted_dot{
    background-color: rgba(187, 187, 187, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
}
.dot_dot_{
    background-color: #000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #5a5a5a;
    position: absolute;
    top: 6%;
    right: 4%;
}
.weekly_card_image > img{
    /* background-color: aqua; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.weekly_card_content{
    /* background-color: purple; */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 20% 50% 30%;
}
.weekly_card_header{
    /* background-color: yellow; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.weekly_card_header > h3{
    color: #fff;
    font-family: Inter;
    font-weight: 600;
    font-size: 13px;
}
.weekly_card_texts{
    /* background-color: green; */
    width: 100%;
    height: 100%;
}
.weekly_card_texts_{
    /* background-color: red; */
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
}
.weekly_card_texts_ > p{
    color: #8a8a8a;
    font-family: Inter;
    font-size: 11px;
    font-weight: 500;
    line-height: 1.7;
}
.weekly_card_button{
    /* background-color: #000; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.weekly_card_button > button{
    background-color: #3d3d3d;
    width: 30%;
    height: 60%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.6s;
}
.weekly_card_button > button:hover{
    background-color: rgb(95, 95, 95)
}
.weekly_card_button > button > a{
    color: #fff;
    font-family: Inter;
    text-decoration: none;
    font-size: 10.5px;
    font-weight: 600;
}